<div>
  <h1 id="list-title" class="title">Book Club Library</h1>
  <div class="search-function">
      <app-advanced-search></app-advanced-search>
  </div>
  <div id="list" class="book-list">
    <div *ngFor="let book of bookinfo">
        <mat-card id="card" class="example-card">
          <mat-card-header>
            <mat-card-title class="mat-title">{{book.title}}</mat-card-title>
            <mat-card-subtitle>{{book.author}}</mat-card-subtitle>
          </mat-card-header>
          <a (click)="routeToViewBook(book.id) && selectedBook(book.id)"><img mat-card-image [src]="checkPic(book)"></a>
        </mat-card>
    </div>


    <!-- <a>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title class="mat-title">Mistborn: The Well of Ascension</mat-card-title>
          <mat-card-subtitle>Brandon Sanderson</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://images-na.ssl-images-amazon.com/images/I/51QqoWLFGsL._SX331_BO1,204,203,200_.jpg">
      </mat-card>
    </a>

    <a>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title class="mat-title">Mistborn: The Hero of Ages</mat-card-title>
          <mat-card-subtitle>Brandon Sanderson</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://images-na.ssl-images-amazon.com/images/I/41eSb5MgbsL._SX331_BO1,204,203,200_.jpg">
      </mat-card>
    </a>

    <a>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title class="mat-title">Elantris</mat-card-title>
          <mat-card-subtitle>Brandon Sanderson</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://images-na.ssl-images-amazon.com/images/I/81S+HqepWwL.jpg">
      </mat-card>
    </a> -->

  </div>
</div>


