.title {
  display: flex;
  justify-content: center;
  font-size: 6vh;
  font-weight: bold;
  margin-top: 2%;
  line-height: 1.25;
}

.book-list {
  margin-top: .5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
  a:link {
    text-decoration: none;
  }
}

mat-card {
  margin-top: 15px;
  max-width: 200px;
  background-color: cornsilk;
  padding: 0;
  mat-card-header {
    height: 10%;
  }
  mat-card-subtitle {
    margin-bottom: 20px;
    line-height: 1.5;
    font-size: 2vh;
  }
  img {
    height: 60vh;
  }
}

.mat-title {
  font-size: 2.2vh;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 175px;
  line-height: 1.5;
}

.example-card {
  max-width: 300px;
}

@media screen and (max-width: 800px) {
  #list-title {
    font-size: 5vh;
  }

  #mat-title-id {
    width: 265px;
  }

#list {
  justify-content: center;
}

  #card {
    max-width: 290px;
  }

  mat-card-title {
    font-size: 2.5vh;
  }

  #search-label {
    font-size: 3vh;
  }

  #search-field {
    width: 90%;
  }
}

@media screen and (max-width: 425px) {
  #list-title {
    font-size: 5vh;
  }

  #mat-title-id {
    width: 265px;
  }

#list {
  justify-content: center;
}

  #card {
    max-width: 290px;
  }

  mat-card-title {
    font-size: 2.5vh;
  }

  #search-label {
    font-size: 3vh;
  }

  #search-field {
    width: 90%;
  }
}
