<h1 id="add-book-title" class="title">Add a Book</h1>
<div class="mobile-hold" >
  <div id="card-hold" class="card-box">
    <mat-card class="card-modile">
      <mat-card-content style="font-size: 2.5vh; line-height: 1.5;">
        <form style="display: flex; flex-direction: column;" class="example-form" [formGroup]="newBookInfo">
          <label style="font-weight: bold;">Title</label>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="" formControlName="title">
          </mat-form-field>
          <label style="font-weight: bold;">Author</label>
          <mat-form-field class="example-full-width">
              <input matInput placeholder="" formControlName="author">
          </mat-form-field>
          <label style="font-weight: bold;">Is the Book a Part of a Series?</label>
          <mat-radio-group style="display: flex;" aria-label="Select an option" formControlName="part_of_series">
            <mat-radio-button value="Yes">Yes</mat-radio-button>
            <mat-radio-button style="margin-left: 30px;" value="No">No</mat-radio-button>
          </mat-radio-group>
          <br>
          <label style="font-weight: bold;">Next Book in the Series</label>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="" formControlName="next_book">
          </mat-form-field>
          <label style="font-weight: bold;">Intended Audience</label>
          <mat-form-field style="margin-top: 12px;" class="example-full-width" [formGroup]="newBookInfo">
            <mat-select [(ngModel)]="selectedValue" name="intended-audience" formControlName="intened_audience">
              <mat-option *ngFor="let audience of audiences" [value]="audience.value" >
                {{ audience.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </mat-card-content>
    </mat-card>

    <mat-card id="bot-card" class="radio-modile">
      <mat-card-content style="height: 100%; font-size: 2.5vh; line-height: 1.5;">
        <div class="radio-genre-hold">
          <label style="font-weight: bold;">Genre</label>
            <form [formGroup]="newBookInfo">
              <mat-radio-group id="radio-genre-hold-mobile" class="radio-hold" aria-label="Select an option" formControlName="genre">
                <mat-radio-button value="Adventure">Adventure</mat-radio-button>
                <mat-radio-button value="Classic">Classic</mat-radio-button>
                <mat-radio-button value="Comic Book">Comic Book</mat-radio-button>
                <mat-radio-button value="Graphic Novel">Graphic Novel</mat-radio-button>
                <mat-radio-button value="Mystery">Mystery</mat-radio-button>
                <mat-radio-button value="Fantasy">Fantasy</mat-radio-button>
                <mat-radio-button value="Historical Fiction">Historical Fiction</mat-radio-button>
                <mat-radio-button value="Horror">Horror</mat-radio-button>
                <mat-radio-button value="Romance">Romance</mat-radio-button>
                <mat-radio-button value="Romance">Science Fiction</mat-radio-button>
                <mat-radio-button value="Short Story">Short Story</mat-radio-button>
                <mat-radio-button value="Thriller">Thriller</mat-radio-button>
                <mat-radio-button value="Biography">Biography</mat-radio-button>
                <mat-radio-button value="Autobiography">Autobiography</mat-radio-button>
                <mat-radio-button value="Nonfiction">Nonfiction</mat-radio-button>
              </mat-radio-group>
            </form>
        </div>
          <div class="pic-hold" [formGroup]="newBookInfo">
            <label style="font-weight: bold;">Cover Images</label>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Main Cover Image" formControlName="cover_picture">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Alternate Cover Image" formControlName="alt_cover1">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Alternate Cover Image" formControlName="alt_cover2">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Alternate Cover Image" formControlName="alt_cover3">
            </mat-form-field>
          </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="card-box" [formGroup]="newBookInfo">
    <mat-card id="mobile-card-bot" class="mat-card-bot">
      <mat-card-content style="font-size: 2.5vh; line-height: 1.5;">
        <label style="font-weight: bold;">Short Summary</label>
        <mat-form-field style="width: 100%" appearance="fill">
          <mat-label></mat-label>
          <textarea matInput rows="8" style="resize: none;" formControlName="summary"></textarea>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </div>

  <br>
  <div class="btn-hold">
    <button class="mob-btn" mat-raised-button (click)="addNewBook()">Submit</button>
    <button id="right-btn" class="mob-btn right-btn" (click)="clearForm()" mat-raised-button>Clear Form</button>
  </div>
  <br>
  <br>
</div>


