<h1 id="add-book-title" class="title">Matt's Reading List</h1>
<div cdkDropList (cdkDropListDropped)="drop($event)">
  <mat-card cdkDrag>
    <div class="book-title">Book Title #1</div>
    <div class="book-author">Grant Skeleton</div>
    <div class="book-rating">5 / 5</div>
    <div class="icon">
      <mat-icon>pageview</mat-icon>
      <mat-icon>delete</mat-icon>
    </div>
  </mat-card>
  <br>
  <mat-card cdkDrag>
    <div class="book-title">Book Title #2</div>
    <div class="book-author">Grant Skeleton</div>
    <div class="book-rating">5 / 5</div>
    <div class="icon">
      <mat-icon>pageview</mat-icon>
      <mat-icon>delete</mat-icon>
    </div>
  </mat-card>
  <br>
  <mat-card cdkDrag>
    <div class="book-title">Book Title #3</div>
    <div class="book-author">Grant Skeleton</div>
    <div class="book-rating">5 / 5</div>
    <div class="icon">
      <mat-icon>pageview</mat-icon>
      <mat-icon>delete</mat-icon>
    </div>
  </mat-card>
</div>

