.title {
  display: flex;
  justify-content: center;
  font-size: 6vh;
  font-weight: bold;
  line-height: 1.25;
}
.secondary-title {
  display: flex;
  justify-content: center;
  font-size: 5vh;
  font-weight: bold;
}
.single-book-hold {
  display: flex;
  margin-top: 2%;
}
img {
  box-shadow: 0 1px 1px rgba(0,0,0,0.11),
              0 2px 2px rgba(0,0,0,0.11),
              0 4px 4px rgba(0,0,0,0.11),
              0 8px 8px rgba(0,0,0,0.11),
              0 16px 16px rgba(0,0,0,0.11),
              0 32px 32px rgba(0,0,0,0.11);
  height: 75vh;
  max-width: 30%;
}
.book-info {
  width: 50%;
  margin-left: 25px;
}
h4 {
  font-size: 3.5vh;
  line-height: 1.25;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.summary-hold {
  margin-left: 25px;
}

.btn-hold2 {
  justify-content: space-between;
}

.alt-img {
  max-width: 200px;
  height: 30vh;
  margin-left: 30px;
}

button {
  font-size: 2.25vh;
  height: 5.5vh;
  width: 16vw;
  background-color: lightgreen;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.reveiw-btn {
  width: 9vw;
}

mat-card {
  margin-bottom: 25px;
  line-height: 1.5;
  mat-card-title {
    font-size: 3vh;
  }
  mat-card-subtitle {
    font-size: 2.5vh;
  }
  mat-card-content {
    font-size: 2.25vh;
  }
}

@media screen and (max-width: 800px) {
  #book-title {
    font-size: 6vh;
    margin-top: 6%;
  }
  #book-img {
    max-width: 70%;
  }
  #single-book-id {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  #book-info-id {
    margin-top: 20px;
    width: 90%;
    margin-left: 0;
  }
  #btn-hold-id {
    width: 100%;
    flex-direction: column;
  }
  .mobile-btn {
    width: 100%;
  }
  #summary-mobile-hold {
    width: 95%;
  }
  .alt-img-hold {
    margin-bottom: 40px;
  }
  #alt-img-hold-mobile {
    margin-left: 0;
  }
  #alt-img1 {
    margin-left: 0;
  }
  #alt-img2 {
    margin-left: 15px;
  }
  #alt-img3 {
    margin-left: 15px;
  }
}

@media screen and (max-width: 425px) {
  #book-title {
    font-size: 4vh;
    margin-top: 6%;
  }
  #book-img {
    max-width: 100%;
  }
  #single-book-id {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  #book-info-id {
    margin-top: 20px;
    max-width: 100%;
  }
  #btn-hold-id {
    width: 100%;
    flex-direction: column;
  }
  .mobile-btn {
    width: 100%;
  }
  #summary-mobile-hold {
    width: 95%;
    margin-left: 0;
  }
  .alt-img-hold {
    flex-wrap: wrap;
    justify-content: center;
  }
  .alt-img {
    margin-top: 30px;
  }
  .alt-img-hold {
    margin-bottom: 30px;
  }
}

