<div>
  <h1 id="book-title" class="title" >{{book.title}}</h1>
  <div id="single-book-id" class="single-book-hold">
    <img id="book-img" src="https://images-na.ssl-images-amazon.com/images/I/41tRcihNsxL._SX322_BO1,204,203,200_.jpg">
    <div id="book-info-id" class="book-info">
        <h4>Author: <span style="font-size: 2.5vh;">{{book.author}}</span></h4>
        <h4>Genre: <span style="font-size: 2.5vh;">Fantasy</span></h4>
        <h4>Intended Audience: <span style="font-size: 2.5vh;">Adult</span></h4>
        <h4>Part of a Series: <span style="font-size: 2.5vh;">Yes</span></h4>
        <h4>Next Book: <span style="font-size: 2.5vh;">Mistborn: The Well of Ascension</span></h4>
        <h4>Rating: <span style="font-size: 2.5vh;">4/5</span></h4>
        <h4>Summery: <span style="font-size: 2.5vh;">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident,
          sunt in culpa qui officia deserunt mollit anim id est laborum.</span></h4>
    </div>
    <div id="btn-hold-id" class="btn-hold" style="display: flex; flex-direction: column;">
      <div>
        <h3 style="font-size: 3vh;  font-weight: bold;">Alturnative Cover Art</h3>
        <div style="display: flex; flex-wrap: wrap; justify-content: space-around;">
          <img class="alt-img" src="https://images-na.ssl-images-amazon.com/images/I/91VZMbqbuZL.jpg">
          <img class="alt-img" src="https://images-na.ssl-images-amazon.com/images/I/71SOXvN3H8L.jpg">
          <img class="alt-img" src="https://m.media-amazon.com/images/I/51fqvtcN3xL.jpg">
        </div>
      </div>
      <br>
      <div style="display: flex;">
        <button class="mobile-btn" mat-raised-button>Write Reveiw</button>
      </div>
      <div style="margin-top: 15px;">
        <button class="mobile-btn" mat-raised-button>Edit Book</button>
      </div>
      <div style="margin-top: 15px;">
        <button class="mobile-btn" mat-raised-button>Add to Reading List</button>
      </div>
    </div>
  </div>
</div>
<br>
<hr>
<br>
<div>
  <h2 class="secondary-title">Reveiws</h2>
  <div>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Book Guy</mat-card-title>
        <mat-card-subtitle>Rating: 4 / 5</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button class="reveiw-btn mobile-btn" mat-raised-button>Comment</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
