
    <h1 id="book-title" class="title">{{book.title}}</h1>
    <div id="single-book-id" class="single-book-hold">
    <img id="book-img" src="{{book.cover_picture}}">
    <div id="book-info-id" class="book-info">
        <h4>Author: <span style="font-weight: normal;">{{book.author}}</span></h4>
        <h4>Genre: <span style="font-weight: normal;">{{book.genre}}</span></h4>
        <h4>Intended Audience: <span style="font-weight: normal;">{{book.intened_audience}}</span></h4>
        <h4>Part of a Series: <span style="font-weight: normal;">{{book.part_of_series}}</span></h4>
        <div *ngIf ="book.next_book">
          <h4>Next Book: <span style="font-weight: normal;"> {{book.next_book}}</span></h4>
        </div>
        <h4>Rating: <span style="font-weight: normal;">{{book.rating}}/5</span></h4>
        <div>
          <h4>Alturnative Cover Art:</h4>
          <div id="alt-img-hold-mobile" class="alt-img-hold"*ngIf="book.alt_cover1" style="display: flex;" >
            <img id="alt-img1" class="alt-img" src={{book.alt_cover1}}>
            <img id="alt-img2" class="alt-img" src={{book.alt_cover2}}>
            <img id="alt-img3" class="alt-img" src={{book.alt_cover3}}>
          </div>
          <div *ngIf="!book.alt_cover1" style="display: flex; flex-wrap: wrap;" >
            <h4 style="font-weight: normal;">(No Alturnative Cover Avaible)</h4>
          </div>
        </div>
    </div>
    <div id="btn-hold-id1" class="btn-hold1">
      <div style="display: flex;">
        <button class="mobile-btn" mat-raised-button>Write Reveiw</button>
      </div>
      <div>
        <button style="margin-top: 15px" class="mobile-btn" mat-raised-button (click)="routeToEditBook(book.id)">Edit Book</button>
      </div>
      <div>
        <button style="margin-top: 15px" class="mobile-btn" mat-raised-button>Add to Reading List</button>
      </div>
      <div>
        <button style="margin-top: 15px" class="mobile-btn" mat-raised-button (click)="removeBook()">Delete Book</button>
      </div>
    </div>
  </div>
  <br *ngIf="mobile===false">
  <h4 id="summary-mobile-hold" class="summary-hold">Summery: <span class="summary" style="font-weight: normal; font-size: 2.75vh; ">{{book.summary}}</span></h4>
  <br *ngIf="mobile===true">
  <div id="btn-hold-id2" class="btn-hold2">
    <div style="display: flex;">
      <button class="mobile-btn" mat-raised-button>Write Reveiw</button>
    </div>
    <div>
      <button style="margin-top: 15px;" class="mobile-btn" mat-raised-button (click)="routeToEditBook(book.id)">Edit Book</button>
    </div>
    <div>
      <button style="margin-top: 15px;" class="mobile-btn" mat-raised-button>Add to Reading List</button>
    </div>
    <div>
      <button style="margin-top: 15px;" class="mobile-btn" mat-raised-button (click)="removeBook()">Delete Book</button>
    </div>
  </div>
  <br>
<hr>
<br>
<div>
  <h2 class="secondary-title">Reveiws</h2>
  <div>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Book Guy</mat-card-title>
        <mat-card-subtitle>Rating: 4 / 5</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button class="reveiw-btn mobile-btn" mat-raised-button>Comment</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
